.mediaQueryImage{
  width : 70%;
}
.textDecoration a:hover{
  text-decoration: none;
}
.textDecoration a {
  text-decoration: none;
}
@media screen and (min-width:0) and (max-width:600px){

  .mediaQuery{
    min-width: 55vh;
  }
  .mediaQueryImage{
    width: 30%;
  }
}